# Ignore node_modules directory
node_modules/

# Ignore build directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore temporary files
*.tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.out
*.class

# Ignore coverage reports
coverage/

# Ignore dependency directories
bower_components/
jspm_packages/

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace